<h2>Hello World</h2>
<p>
  The time is now: <%= Time.now %> <br><br>
  This is a placeholder for <br><br><br>

  <h4>C-search system:</h4>

Connectome search (C-search): a visual search engine for big data 
derived from the human connectome.

</p>

